section
	.flex.flex--center
		.col-1
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde repudiandae odit nisi aliquid id quos nihil facilis fugit soluta, quae necessitatibus nesciunt accusantium illum blanditiis, dicta, harum atque excepturi dolore.

		.col-1
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi commodi eos sed nisi obcaecati ratione nihil iste, libero reiciendis nostrum. Laudantium sequi iure repellat corrupti fugit ut. Modi, dolore. Illum!

section
	.flex.flex--space-around
		.col-1
			p  op poLorem ipsum dolor sit amet, consectetur adipisicing elit. Unde repudiandae odit nisi aliquid id quos nihil facilis fugit soluta, quae necessitatibus nesciunt accusantium illum blanditiis, dicta, harum atque excepturi dolore.

		.col-1
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi commodi eos sed nisi obcaecati ratione nihil iste, libero reiciendis nostrum. Laudantium sequi iure repellat corrupti fugit ut. Modi, dolore. Illum!

section
	.flex.flex--center
		.col-2
			p  op poLorem ipsum dolor sit amet, consectetur adipisicing elit. Unde repudiandae odit nisi aliquid id quos nihil facilis fugit soluta, quae necessitatibus nesciunt accusantium illum blanditiis, dicta, harum atque excepturi dolore.

section
	.flex.flex--center
		.col-50.flex.flex--center
			.col-1
				p  op poLorem ipsum dolor sit amet, consectetur adipisicing elit. Unde repudiandae odit nisi aliquid id quos nihil facilis fugit soluta, quae necessitatibus nesciunt accusantium illum blanditiis, dicta, harum atque excepturi dolore.

		.col-50
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi commodi eos sed nisi obcaecati ratione nihil iste, libero reiciendis nostrum. Laudantium sequi iure repellat corrupti fugit ut. Modi, dolore. Illum!