section#footer
	.flex.flex--center
		.col-2
			h2
				a.email(href="mailto:hubytskyi@gmail.com") hubytskyi@gmail.com
	//.flex.flex--center
		.col-2.social
			a(href="https://twitter.com/m_hubytskyi" target="_blank") <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
			a(href="https://github.com/Hubytskyi" target="_blank") <i class="fa fa-github fa-3x" aria-hidden="true"></i>
			a(href="https://www.behance.net/mhubytskyi2979" target="_blank") <i class="fa fa-behance fa-3x" aria-hidden="true"></i>//
