section.lets-work-together
	.flex.flex--center
		.col-2
			h2 Lets work together
			p.home-lead-second I love to design and build sites. You can see my work above.
			p.home-lead-second If you think, I`m good enough to fit your next project, I wait to hear from you.
