
section#portfolio
	.flex.flex--space-around
		.col-1
			a(href="https://www.behance.net/hubytskyi" target="_blanc")
				img(src="/assets/img/portfolio-bg24.png", width="300px")
					

		.col-1.description
			.descr-wrap
				h3.outdented You can view all my works on Behance...
				a(href="https://www.behance.net/hubytskyi" target="_blanc").home-cta See more on Behance
