section#footer
	.flex.flex--center
		.col-2
			h2
				a.email(href="mailto:hubytskyi@gmail.com") hubytskyi@gmail.com
	.flex.flex--center
		.col-2.social
			a(href="https://www.linkedin.com/in/hubytskyi/" target="_blank") <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i>
			a(href="https://github.com/hubytskyi" target="_blank") <i class="fa fa-github fa-3x" aria-hidden="true"></i>
			a(href="https://www.behance.net/hubytskyi" target="_blank") <i class="fa fa-behance fa-3x" aria-hidden="true"></i>
