<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="initial-scale=1, viewport-fit=cover">
  <meta property="og:image" content="img/favicon/og.jpg">
  <link rel="shortcut icon" href="assets/img/favicon/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
  <meta name="theme-color" content="#484c58">
  <meta name="msapplication-navbutton-color" content="#484c58">
  <meta name="apple-mobile-web-app-status-bar-style" content="#484c58">
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>

  {{ content }}

  {% if page.url == "/index.html" %}
  <script type="text/javascript" src="/assets/js/functions.js"></script>
  {% endif %}

 </script>
 </body>
</body>
</html>
